//* Force Font Helvetica*/
* { 
    font-family: Helvetica, sans-serif !important; 
    text-shadow: 2px 2px 2px #00000052;
    text-transform: none;
}

/* Logo */
.childWrapper-anI2G9 {
    background: linear-gradient(rgb(74, 77, 86), rgb(51, 54, 61)) !important;
}

/* Channel Desc. */
.container-1r6BKw.themed-ANHk51, .clickable-25tGDB .header-2V-4Sw  {
    background: linear-gradient(rgb(79, 82, 91), rgb(51, 54, 61)) !important;
}

/* Sidebar */
.members-1998pB, .members-1998pB>div {
    background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75)) !important;
    border: 1px solid #00000065;
}

/* Chat */
.chatContent-a9vAAp {
    background: linear-gradient(rgb(81, 85, 94), rgb(41, 42, 47)) !important;
    border: 1px solid #00000065;
}
.grid-1nZz7S {
    font-weight: 700;
    background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
    border: 1px solid #00000065;
}
.theme-dark .form-2fGMdU:before {
  display: none;
}

/* Channels */
.container-3w7J-x {
    background: linear-gradient(rgb(17, 18, 22), rgb(77, 77, 87)) !important;
}
.scroller-1JbKMe {
    background: linear-gradient(rgb(17, 18, 22), rgb(77, 77, 87)) !important;
}
.total-i6us2n {
    font-weight: 700;
    background: linear-gradient(rgb(223, 223, 223), rgb(167, 167, 167)) !important;;
    color: rgb(0, 0, 0) !important;
}
.modeSelected-346R90 .content-1x5b-n, .modeSelected-346R90:hover .content-1x5b-n {
    background: linear-gradient(rgb(17, 18, 22), rgb(77, 77, 87)) !important;
    border: 1px solid #00000065;
}
.users-3kndPl {
    font-weight: 700;
    background: linear-gradient(rgb(223, 223, 223), rgb(167, 167, 167)) !important;;
    color: rgb(0, 0, 0) !important;
    box-shadow: 2px 2px 2px #00000036 !important;
}


/* Servers */
.platform-win .scroller-2TZvBN {
    background: linear-gradient(rgb(79, 82, 91), rgb(51, 54, 61)) !important;
}
.scrollableContainer-2NUZem {
    background: linear-gradient(rgb(27, 28, 30), rgb(66, 66, 68)) !important;
    border-radius: 0px;
}

/* User Stuff Thing */
.container-3baos1, .container-3baos1 .avatar-SmRMf2 {
    background: linear-gradient(rgb(90, 90, 90), rgb(24, 24, 24)) !important;
    border: 1px solid #00000065;
}
.membersGroup-v9BXpm {
    color: white;
    text-transform: none;
}

/* Channel Names ---- enable by fixing name */
.mainContent-u_9 PKf:before {
    border-radius: 0px;
    border-width: px;
    border: 1px solid #00000065;
    background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
}

/* Avatar */
.avatar-1BDn8e.clickable-1bVtEA, .avatar-SmRMf {
    border-radius: 3px;
    box-shadow: 2px 2px 2px #00000036 !important;
    height: 35px;
    width: 35px;
}

/* Search */
.searchBar-3dMhjb {
    background: linear-gradient(rgb(34, 37, 42), rgb(55, 56, 61)) !important;
    border-radius: 1px;
    border: 1px solid #000000;
}
.searchBar-6Kv8R2  {
    background: linear-gradient(rgb(79, 82, 91), rgb(51, 54, 61)) !important;
}
.searchBarComponent-32dTOx {
    background: linear-gradient(rgb(34, 37, 42), rgb(55, 56, 61)) !important;
    border-radius: 1px;
    border: 1px solid #000000;
}
.scroller-3GIiMh {
    background: linear-gradient(rgb(34, 37, 42), rgb(55, 56, 61)) !important;
    border-radius: 1px;
    border: 1px solid #000000;
}
.searchHeader-2XoQg7 {
    background: linear-gradient(rgb(51, 54, 61), rgb(79, 82, 91)) !important;
}


/* Hide some elements */
.topic-TCb_qw.e xpandable-9fI_e3 {
    cursor: pointer;
    color: #00000000;
    text-shadow: 2px 2px 2px #00000000;
}

/* etc */
.children-19S4PO:after {
    display: none;
}
.platform-win .sidebar-2K8pFh {
    border-radius: 0px 0 0;
}

/* Server Buttons */
.circleIconButton-jET_ig {
    padding: 6px 10px 5px;
    font-weight: 700;
    background: linear-gradient(rgb(223, 223, 223), rgb(167, 167, 167)) !important;;
    color: rgb(0, 0, 0) !important;
    box-shadow: 2px 2px 2px #00000036 !important;
}
.actionButton-uPB8Fs:first-child, .actionButton-uPB8Fs {
    font-weight: 700;
    background: linear-gradient(rgb(223, 223, 223), rgb(167, 167, 167)) !important;;
    color: rgb(0, 0, 0) !important;
    box-shadow: 2px 2px 2px #00000036 !important;
}

/* Server Folders */
.closedFolderIconWrapper-15K9MK {
    border-radius: 1px;
}
.childWrapper-anI2G9, .wrapper-1BJsBx {
    border-radius: 1px;
}

/* Unread Bartender */
.unreadMentionsIndicatorBottom-BXS58x .unreadMentionsBar-1VrBNe:before {
    bottom: -8px;
}
.unread-2lAfLh {
    width: 4px;
    border-radius: 0px 0px 0px 0px;
    left: 1.2px;
    border: 1px solid #000000;
    background-color: rgb(172, 169, 169);
}

/* Most Buttons */
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,  .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .tabBar-ZmDY9v .item-3HknzM {
    border-radius: 3px;
    padding: 6px 10px 5px;
    font-weight: 700;
    background: linear-gradient(rgb(223, 223, 223), rgb(167, 167, 167)) !important;;
    border: 1px solid #000000;
    color: rgb(0, 0, 0) !important;
}
.theme-dark .tab-2j5AEF.selected-2LAck8 {
    font-weight: 700;
    background: linear-gradient(rgb(223, 223, 223), rgb(167, 167, 167)) !important;
    color: rgb(0, 0, 0) !important;
    box-shadow: 2px 2px 2px #00000036 !important;
}
.unread-1xRYoj {
    border-radius: 3px;
    padding: 3px 5px 1.5px;
    font-weight: 700;
    background: linear-gradient(rgb(146, 11, 11), rgb(63, 5, 5)) !important;;
    border: 1px solid #000000;
    color: rgb(255, 255, 255) !important;
}

/* Selected Button */
.selected-aXhQR6 .layout-2DM8Md {
    font-weight: 700;
    background: linear-gradient(rgb(143, 143, 143), rgb(83, 83, 83)) !important;;
    border: 1px solid #000000;
}

/* People/Buttons */
.layout -2DM8Md {
    font-weight: 700;
    background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
    border: 1px solid #000000;
}

/* People List */
.peopleList-3c4jOR {
    padding-bottom: 8px;
    background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75)) !important;
}
.nowPlayingScroller-2XrVUt {
    background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75)) !important;
}
.itemCard-v9viV7 {
    font-weight: 700;
    background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
    border: 1px solid #00000065;
}


/* Scroll */
.theme-dark {
--scrollbar-auto-thumb: #00000060;
--scrollbar-auto-track: #2e333800;
}

/* Channel Cats ---- enable by fixing name */
.mainContent-2h -GEV:before {
    font-weight: 700;
    background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
    border: 1px solid #00000065;
    left: 8px;
}
.icon- 2yIBmh {
    display: none;
    }
.containerDefault-3tr_sE, .containerDragAfter-Zk9oyx, .containerDragBefore-1YqewQ, .containerUserOver-98-yc7 {
     margin-top: -17px;
    }

/* User Roles */

/* Square */
.childWrapper-anI2G9, .wrapper-1BJsBx {
    border-radius: 0 !important;
}

/* Older Messages Bartender */
.jumpToPresentBar-G1R9s6 {
    font-weight: 700;
    background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
    border: 1px solid #00000065;
    left: 15px;
}

/* Message options */
.scroller-3BxosC {
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) !important;
    text-decoration-color: black;
    border: 1px solid #00000065;
    border-radius: 3px;
    left: 0px;
}
.label-22pbtT {
    font-weight: 700;
    color: black;
}
.icon-LYJorE, .iconContainer-2-XQPY, .icon-3Gkjwa, {
    color: rgba(0, 0, 0, 0);
}
.wrapper-2aW0bm {
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) !important;
    text-decoration-color: black;
    border: 1px solid #00000065;
    border-radius: 3px;
    left: 0px;
}
.icon-3Gkjwa {
    color: black;
}

/* Settings */
.sidebarRegionScroller-3MXcoP {
    font-weight: 700;
    background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
    border: 1px solid #00000065;
}
.contentRegionScroller-26nc1e {
    font-weight: 700;
    background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
    border: 1px solid #00000065;
}
.fieldList-21DyL8 {
    font-weight: 700;
    background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
    border: 1px solid #00000065;
}
.background-1QDuV2 {
    font-weight: 700;
    background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
    border: 1px solid #00000065;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    padding: 6px 10px 5px;
    font-weight: 700;
    background: linear-gradient(rgb(223, 223, 223), rgb(167, 167, 167)) !important;;
    border: 1px solid #000000;
    color: rgb(0, 0, 0) !important;
}
.theme-dark .closeButton-1tv5uR {
    border-radius: 3px;
    padding: 6px 10px 5px;
    font-weight: 700;
    background: linear-gradient(rgb(255, 0, 0), rgb(65, 0, 0)) !important;;
    border: 1px solid #000000;
    color: rgb(0, 0, 0) !important;
}
.lookFilled-1Gx00P.colorGrey-2DXtkV {
    border-radius: 3px;
    padding: 6px 10px 5px;
    font-weight: 700;
    background: linear-gradient(rgb(223, 223, 223), rgb(167, 167, 167)) !important;;
    border: 1px solid #000000;
    color: rgb(0, 0, 0) !important;
}
.disableButton-220a9y {
    margin-right: 16px;
    border-radius: 3px;
    padding: 6px 10px 5px;
    font-weight: 700;
    background: linear-gradient(rgb(255, 0, 0), rgb(65, 0, 0)) !important;
    border: 1px solid #000000;
    color: rgb(255, 255, 255) !important;
}
.lookOutlined-3sRXeN.colorRed-1TFJan {
    margin-right: 16px;
    border-radius: 3px;
    padding: 6px 10px 5px;
    font-weight: 700;
    background: linear-gradient(rgb(121, 0, 0), rgb(65, 0, 0)) !important;
    border: 1px solid #000000;
    color: rgb(255, 255, 255) !important;
}
/* New Messages Bartender */
.newMessagesBar-265mhP {
    border-radius: 3px;
    padding: 3px 5px 1.5px;
    font-weight: 700;
    background: linear-gradient(rgb(146, 11, 11), rgb(63, 5, 5)) !important;;
    border: 1px solid #000000;
    color: rgb(255, 255, 255) !important;
}

/* Wndows Title Bar */
.withFrame-haYltI {
    height: 18px;
    margin-top: 0px;
    margin-bottom: 2px;
    background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
}
.titleBar-AC4pGV {
    margin-top: 1px;
    background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
}
.winButton-iRh8-Z {
    font-weight: 700;
    background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
    border: .2px solid #000000;
    color: rgb(255, 255, 255) !important;
    margin-bottom: -1px;
}

/***            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE
                    Version 2, December 2004

 Copyright (C) 2004 Sam Hocevar <sam@hocevar.net>

 Everyone is permitted to copy and distribute verbatim or modified
 copies of this license document, and changing it is allowed as long
 as the name is changed.

            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE
   TERMS AND CONDITIONS FOR COPYING, DISTRIBUTION AND MODIFICATION

  0. You just DO WHAT THE FUCK YOU WANT TO. ***\

