/*
/////////////////////
///TINY FIXATIONS
/////////////////////
*/


/* Hide some elements */
.topic-11NuQZ.e .xpandable-9fI_e3 {
    cursor: pointer;
    color: #00000000;
    text-shadow: 2px 2px 2px #00000000;
  }

  /* Square */
  .childWrapper-1j_1ub, .wrapper-3kah-n {
    border-radius: 0 ;
  }

  /** 803907978226696213 */

  /* etc */
  .children-3xh0VB:after {
    display: none;
  }
  .platform-win .sidebar-1tnWFu {
    border-radius: 0px 0 0;
  }
  .icon-2xnN2Y {
    border-radius: 3px !important;
    border: 1px solid #000000 !important;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(189, 189, 189) 50%,rgb(219, 219, 219) 100%) !important;
    color: rgb(0, 0, 0) !important;
  }
  .icon-2xnN2Y:hover {
    box-shadow: 0 0 2px 3px #4189c38c;
    background: linear-gradient(to bottom, rgba(227, 145, 145, 0.363) 0%,rgb(51, 51, 51) 50%,rgb(161, 161, 161) 100%) !important;
    transition: 0.3s;
  }
  .status-3TYC5W, .description-3Cwkxk {
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 2px #00000000;
  }
  .accountCard-2lki2x {
    background: linear-gradient(to bottom, rgba(227, 145, 145, 0.363) 0%,hsl(227, 31%, 44%) 50%,rgb(112, 131, 197) 100%);
    background-color: #4e5d94;
  }
  .contentWrapper-3vHNP2 {
    background: linear-gradient(rgba(29,29,29,255), rgba(1,1,1,255));
  }
  .communityInfoPill-2Mll66 {
    background: linear-gradient(to bottom, rgb(227, 145, 145) 0%,rgba(196, 25, 25, 0.705) 50%,rgba(227, 145, 145, 0.397) 100%);
    display:none;
    }