/*
///////////////////
///FLYOUT MENUS
///////////////////
*/

/* Inbox */
.header-145e10,
.header-145e10 .tab-TRrPC8 {
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(189, 189, 189) 50%, rgb(219, 219, 219) 100%);
  border-radius: 3px;
  color: black;
}
.messageContainer-3VTXBC {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75));
  border: 1px solid #00000065;
  border-radius: 3px;
  margin-top: -6px;
}
.messageGroupCozy-3v_RqN {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75));
  border: 1px solid #00000065;
  border-radius: 3px;
}
.channelHeader-DFRX8q {
  background: #00000000;
  color: black;
  border-radius: 3px;
}
.scroller-145h9c {
  background-image: url(https://i.postimg.cc/pX47qXRS/chrome-Zv2h-Lqjl-Aq.png);
  border: 1px solid #00000065;
}
.closeButton-3CiW2j,
.secondary-2bzKEX {
  margin-right: 16px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    rgb(227, 145, 145) 0%,
    rgba(196, 25, 25, 0.705) 50%,
    rgba(227, 145, 145, 0.397) 100%
  );
  border: 1px solid #000000;
  color: rgb(255, 255, 255);
}
.messages-23can0 {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75));
  border: 1px solid #00000065;
  border-radius: 3px;
  margin-top: -6px;
}
.tertiary-1e-lAP {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.582) 0%, rgb(27, 179, 72) 50%, rgb(0, 175, 44) 100%);
  border: 1px solid #000000;
  color: white;
}
.collapseButton-39-IRc {
  left: -2px;
}
.list-3YHPPb {
  background-image: url(https://i.postimg.cc/pX47qXRS/chrome-Zv2h-Lqjl-Aq.png);
  border: 1px solid #00000065;
}
.container-2rzKKA {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75));
  border: 1px solid #00000065;
  border-radius: 3px;
  margin-top: -6px;
}

/* Threads */
.header-3_zmOb {
  background: linear-gradient(rgba(29, 29, 29, 255), rgba(1, 1, 1, 255));
}
.iconWrapper-3plkqh {
  border: 1px solid #000000;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(189, 189, 189) 50%, rgb(219, 219, 219) 100%);
}
.icon-382itv {
  color: #000;
}

/* User info */
.theme-dark .footer-1fjuF6 {
  font-weight: 700;
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41));
}
.theme-dark .body-3iLsc4 {
  font-weight: 700;
  background: linear-gradient(rgb(15, 16, 19), rgb(49, 49, 54));
  border: 1px solid #00000065;
}
.inputDefault-3FGxgL {
  color: grey;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  border: 1px solid #00000065;
}
.headerPlaying-j0WQBV,
.headerTop-3C2Zn0 {
  background: linear-gradient(rgb(15, 16, 19), rgb(49, 49, 54));
  border: 1px solid #00000065;
}
.bodyInnerWrapper-2bQs1k,
.footer-3naVBw {
  background: #00000000;
}
.userPopout-2j1gM4 {
  background: linear-gradient(rgba(29, 29, 29, 255), rgba(1, 1, 1, 255));
}
.userPopout-2j1gM4:hover {
  box-shadow: 2px 10px 20px #00b1e750;
  transition: 0.3s;
}

/* Emote info */
.emojiSection-3QtaWO .header-11eigE {
  border-radius: 3px;
  border-width: 1px;
  border: 1px solid #00000065;
  background: linear-gradient(rgb(0, 0, 0), rgb(38, 39, 41));
}
.guildSection-2Zyzy8 {
  border-radius: 3px;
  border-width: 1px;
  border: 1px solid #00000065;
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41));
}

/* DM Menu */
.inner-1NoIT5 {
  font-weight: 700;
  background: linear-gradient(rgb(15, 16, 19), rgb(49, 49, 54));
  border: 1px solid #00000065;
}

/* Quick Switcher */
.quickswitcher-pKcM9U {
  background: linear-gradient(rgb(15, 16, 19), rgb(27, 27, 31));
}
.input-3r5zZY {
  font-weight: 700;
  background: linear-gradient(rgb(15, 16, 19), rgb(27, 27, 31));
}
.scroller-2qwVWY {
  background: linear-gradient(rgb(15, 16, 19), rgb(27, 27, 31));
}

/* Emoji Selector */
.list-3V14yy {
  background-image: url(https://i.postimg.cc/pX47qXRS/chrome-Zv2h-Lqjl-Aq.png);
  border: 1px solid #00000065;
}

.list-obNEuP,
.header-1ULbqO,
.inspector-2A2Chb,
.contentWrapper-3vHNP2 {
  background: linear-gradient(rgba(29, 29, 29, 255), rgba(1, 1, 1, 255));
}
.wrapper-1NNaWG {
  background: linear-gradient(rgba(72, 73, 75, 0), rgba(38, 39, 41, 0));
  border: 1px solid #00000000;
}
.categoryItemDefaultCategorySelected-2YeRUu,
.categoryItemDefaultCategorySelected-2YeRUu:hover {
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41));
  border: 1px solid #00000065;
}

/* Image uploading preview */
.autocompleteInner-y1mjDl {
  background: linear-gradient(to bottom, rgb(87, 87, 87) 0%, rgb(44, 44, 44) 50%, rgb(0, 0, 0) 100%);
  border: 1px solid #00000065;
}

.autocompleteInner-y1mjDl:hover {
  box-shadow: 0 0 5px 5px #4189c38c;
  transition: 0.3s;
}

.upload-vLbqu-,
.uploadContainer-TCg-Ji {
  background: linear-gradient(to bottom, rgb(87, 87, 87) 0%, rgb(44, 44, 44) 50%, rgb(0, 0, 0) 100%);
}

/* Invite friends */
.theme-dark .footer-1hTRRZ {
  background: linear-gradient(rgb(74, 77, 86), rgb(51, 54, 61));
  border: 1px solid #00000065;
}
.lookOutlined-3sRXeN.colorGreen-29iAKY {
  border-radius: 3px;
  border-width: 1px;
  border: 1px solid #00000065;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(189, 189, 189) 50%, rgb(219, 219, 219) 100%);
  color: black;
  font-weight: 700;
}

/* Pins */
.header-ykumB {
  border-radius: 3px;
  border-width: 1px;
  background-color: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41));
}
.header-1w9Q93 {
  background: linear-gradient(rgba(29, 29, 29, 255), rgba(1, 1, 1, 255));
}
.messagesPopout-eVzQcI {
  background-image: url(https://i.postimg.cc/pX47qXRS/chrome-Zv2h-Lqjl-Aq.png);
}
.footer-5ji8u1 {
  background: linear-gradient(rgba(29, 29, 29, 255), rgba(1, 1, 1, 255));
}

/*
////////////////////////////////////////////////////////////////////////////////////////////
////TEMP HOT FIX FOR SERVER CREATION TOOL THAT WILL BE REMOVED WITH DISCORD GETS IT TOGETHER
////////////////////////////////////////////////////////////////////////////////////////////
*/
.childWrapper-1j_1ub,
.wrapper-3kah-n {
  box-shadow: 2px 2px 2px black;
}
.footer-31IekZ,
.container-x8Y1ix {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75));
}
.footerTitle-3Bslxi,
.subtitle-3m-md1,
.title-1_TkpU,
.colorHeaderSecondary-g5teka,
.text-PdAsFQ,
.title-OdeD-o,
.closeButton-3wDOHY {
  color: white;
  text-shadow: 2px 2px 2px #00000000;
}
.theme-light .root-g14mjS {
  background: linear-gradient(rgb(27, 28, 30), rgb(10, 10, 10));
}

/*
////////////////////////
////DISCOVER (ALPHA)
////////////////////////
*/
.sidebar-1tnWFu {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75));
}
.theme-dark .card-2TuZPZ {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75));
  border: 1px solid #0000007c;
  border-radius: 3px;
}
.scroller-3j5xK2 {
  background: linear-gradient(rgb(74, 77, 86), rgb(51, 54, 61));
  border: 1px solid #0000007c;
}
.headerContentWrapper-1u9R_E {
  background-image: url("https://illaddanimagelater.png"); /* image will be added later */
  border: 1px solid #0000007c;
  border-radius: 3px;
}
.search-25t1e9,
.searchBox-31Zv9h,
.searchBoxInput-3h4etz {
  background-color: #fff0;
}
.optionContainer-yOpaLq {
  background: linear-gradient(rgb(72, 73, 75), rgb(17, 18, 19));
  border: 1px solid #0000007c;
  border-radius: 3px;
}
