/* Logo */
.childWrapper__01b9c {
	background: linear-gradient(to bottom, rgba(227, 145, 145, 0.363) 0%, rgb(51, 51, 51) 50%, rgb(161, 161, 161) 100%);
}

/* Servers */
.scroller__3d071 {
	font-weight: 700;
	background: linear-gradient(rgb(15, 16, 19), rgb(49, 49, 54));
	border: 1px solid #00000065;
}
.item_f9d377 {
	width: 5px;
	border-radius: 0%;
	left: 5px;
	border: 1px solid #000000;
	background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(189, 189, 189) 50%, rgb(219, 219, 219) 100%);
}
.mention__1afd3 {
	border-radius: 3px;
	font-weight: 700;
	background: linear-gradient(
		to bottom,
		rgb(227, 145, 145) 0%,
		rgba(196, 25, 25, 0.705) 50%,
		rgba(227, 145, 145, 0.397) 100%
	);
	border: 1px solid #000000;
	color: rgb(255, 255, 255);
}
.svg-2zuE5p:hover {
	box-shadow: 0 0 5px 5px #4189c38c;
	border-radius: 30%;
}

/* Server Folders */
.closedFolderIconWrapper-2sTcE6 {
	border-radius: 1px;
}
.childWrapper__01b9c,
.wrapper_d281dd {
	border-radius: 1px;
}

/* Server folder custom icons /// LeafyLuigi /// WIP */
.expandedFolderBackground__1bec6 {
	background: transparent;
}
.folder__17546,
.folder__17546.hover__043de {
	background: transparent;
}
.wrapperSimple-Js2rIO {
	border-radius: unset;
	overflow: unset;
}
.wrapper_ed1dea .listItem_fa7b36 {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url(https://cdn.discordapp.com/attachments/830247372244254720/933041341972242453/folder.png);
}
.wrapper_ed1dea > .expandedFolderBackground__1bec6:not(.collapsed__0a270) ~ .listItem_fa7b36 {
	background-image: url(https://cdn.discordapp.com/attachments/830247372244254720/933041341972242453/folder.png);
}
.wrapper_ed1dea > .expandedFolderBackground__1bec6:not(.collapsed__0a270) ~ ul > .listItem_fa7b36 {
	background-image: none;
}
.wrapper_ed1dea > .expandedFolderBackground__1bec6:not(.collapsed__0a270) ~ ul > .listItem_fa7b36:last-child {
	background-image: none;
}
.expandedFolderBackground__1bec6 {
	background-repeat: repeat-y;
	background-size: contain;
	background-image: none;
}
.wrapper_d281dd .childWrapper__01b9c {
	transition: background-color 0.1s ease-out, color 0.1s ease-out, border-radius 0.1s ease-out;
}
.wrapper_d281dd.selected_f5ec8e .icon__0cbed,
.wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c,
.wrapper_d281dd:hover .icon__0cbed,
.wrapper_d281dd:hover .childWrapper__01b9c,
.circleIconButton_d8df29.selected__5250e {
	border-radius: 33%;
}
.wrapper_d281dd .icon__0cbed,
.wrapper_d281dd .childWrapper__01b9c {
	border-radius: 50%;
	transition: border-radius 0.1s;
}
.circleIconButton_d8df29 {
	border-radius: 50%;
	transition: color 0.15s ease-out, background-color 0.15s ease-out, border-radius 0.15s;
}

/* Channel Names ---- enable by fixing name */
.mainContent-u_9 PKf:before {
	border-radius: 0px;
	border-width: px;
	border: 1px solid #00000065;
	background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41));
}

/* People List */
.peopleList__2379e {
	padding-bottom: 8px;
	background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75));
}
.nowPlayingScroller_dce5c0 {
	background: transparent;
}
.nowPlayingColumn_f5023f {
	background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75));
}
.peopleColumn__51df3 {
	background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75));
	border: 1px solid #00000065;
}
.itemCard__1f162 {
	font-weight: 700;
	background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75));
	border: 1px solid #00000065;
}
.section_efc22d {
	font-weight: 700;
	background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75));
	border: 1px solid #00000065;
}

.container__0a6a9 {
	background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75));
}
