/* Logo */
.childWrapper_a6ce15 {
	background: linear-gradient(to bottom, rgba(227, 145, 145, 0.363) 0%, rgb(51, 51, 51) 50%, rgb(161, 161, 161) 100%);
}

/* Servers */
.scroller_ef3116 {
	font-weight: 700;
	background: linear-gradient(rgb(15, 16, 19), rgb(49, 49, 54));
	border: 1px solid #00000065;
}
.item__58105 {
	width: 5px;
	border-radius: 0%;
	left: 5px;
	border: 1px solid #000000;
	background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(189, 189, 189) 50%, rgb(219, 219, 219) 100%);
}
.mention__3b95d {
	border-radius: 3px;
	font-weight: 700;
	background: linear-gradient(
		to bottom,
		rgb(227, 145, 145) 0%,
		rgba(196, 25, 25, 0.705) 50%,
		rgba(227, 145, 145, 0.397) 100%
	);
	border: 1px solid #000000;
	color: rgb(255, 255, 255);
}
.svg-2zuE5p:hover {
	box-shadow: 0 0 5px 5px #4189c38c;
	border-radius: 30%;
}

/* Server Folders */
.closedFolderIconWrapper-2sTcE6 {
	border-radius: 1px;
}
.childWrapper_a6ce15,
.wrapper__8436d {
	border-radius: 1px;
}

/* Server folder custom icons /// LeafyLuigi /// WIP */
.expandedFolderBackground__48112 {
	background: transparent;
}
.folder__48112,
.folder__48112.hover__48112 {
	background: transparent;
}
.wrapperSimple-Js2rIO {
	border-radius: unset;
	overflow: unset;
}
.wrapper__48112 .listItem__650eb {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url(https://cdn.discordapp.com/attachments/830247372244254720/933041341972242453/folder.png);
}
.wrapper__48112 > .expandedFolderBackground__48112:not(.collapsed__48112) ~ .listItem__650eb {
	background-image: url(https://cdn.discordapp.com/attachments/830247372244254720/933041341972242453/folder.png);
}
.wrapper__48112 > .expandedFolderBackground__48112:not(.collapsed__48112) ~ ul > .listItem__650eb {
	background-image: none;
}
.wrapper__48112 > .expandedFolderBackground__48112:not(.collapsed__48112) ~ ul > .listItem__650eb:last-child {
	background-image: none;
}
.expandedFolderBackground__48112 {
	background-repeat: repeat-y;
	background-size: contain;
	background-image: none;
}
.wrapper__8436d .childWrapper_a6ce15 {
	transition: background-color 0.1s ease-out, color 0.1s ease-out, border-radius 0.1s ease-out;
}
.wrapper__8436d.selected_ae80f7 .icon__11cf1,
.wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15,
.wrapper__8436d:hover .icon__11cf1,
.wrapper__8436d:hover .childWrapper_a6ce15,
.circleIconButton__5bc7e.selected__5bc7e {
	border-radius: 33%;
}
.wrapper__8436d .icon__11cf1,
.wrapper__8436d .childWrapper_a6ce15 {
	border-radius: 50%;
	transition: border-radius 0.1s;
}
.circleIconButton__5bc7e {
	border-radius: 50%;
	transition: color 0.15s ease-out, background-color 0.15s ease-out, border-radius 0.15s;
}

/* Channel Names ---- enable by fixing name */
.mainContent-u_9 PKf:before {
	border-radius: 0px;
	border-width: px;
	border: 1px solid #00000065;
	background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41));
}

/* People List */
.peopleList__5ec2f {
	padding-bottom: 8px;
	background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75));
}
.nowPlayingScroller__5cd67 {
	background: transparent;
}
.nowPlayingColumn__133bf {
	background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75));
}
.peopleColumn__133bf {
	background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75));
	border: 1px solid #00000065;
}
.itemCard__7e549 {
	font-weight: 700;
	background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75));
	border: 1px solid #00000065;
}
.section__00943 {
	font-weight: 700;
	background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75));
	border: 1px solid #00000065;
}

.container__7d20c {
	background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75));
}
