/*
///////////
///SETTINGS
///////////
*/

/* Mac OS X Linen Image */
.canvas-2dBZRV, .fallbackImage-kwjEnv {
    background-image: url("https://i.imgur.com/yJcUW3B.png");
  }
  /* Login Box */
  .theme-dark.authBox-1HR6Ha {
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0);
    background: none;
  }
  .title-3FQ39e:after {
    content: ' Slide To Unlock.';
  }
  /* QR Code */
  .qrCodeOverlay-2bLtKl {
    box-shadow: 12px 12px 12px black;
  }
  .title-3FQ39e, .colorHeaderSecondary-g5teka {
    font-family: Helvetica, sans-serif !important; 
  }
  /* Login text feild */
  .inputField-2RZxdl {
    color:grey;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  }
  .inputField-2RZxdl:hover, .inputDefault-3FGxgL:hover {
    box-shadow: 0 0 2px 3px #4189c3;
    background-color: white;
    transition: 0.3s;
  }
  

  /*
////////////////
///SETTINGS
////////////////
*/

/* User Quick Settings Container  */
.container-YkUktl, .container-YkUktl .avatar-1EWyVD {
  background: linear-gradient(rgb(90, 90, 90), rgb(24, 24, 24)) ;
  border: 1px solid #00000065;
}
.membersGroup-2eiWxl {
  color: white;
  text-transform: none;
}

/* Settings */
.accountProfileCard-lbN7n- {
  background: linear-gradient(rgb(66, 66, 68), rgb(27, 28, 30)) ;
  border: 1px solid #00000065;
}
.sidebarRegionScroller-FXiQOh {
  font-weight: 700;
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) ;
  border: 1px solid #00000065;
}
.contentRegionScroller-2_GT_N {
  font-weight: 700;
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) ;
  border: 1px solid #00000065;
}
.fieldList-in8WkP {
  font-weight: 700;
  background: linear-gradient(rgba(72, 73, 75, 0), rgba(38, 39, 41, 0)) ;
}
.background-3d_SjE {
  font-weight: 700;
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) ;
  border: 1px solid #00000065;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
  padding: 6px 10px 5px;
  font-weight: 700;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(189, 189, 189) 50%,rgb(219, 219, 219) 100%); 
  border: 1px solid #000000;
  color: rgb(0, 0, 0) ;
}
.theme-dark .closeButton-PCZcma {
  border-radius: 3px;
  padding: 6px 10px 5px;
  font-weight: 700;
  background: linear-gradient(to bottom, rgb(227, 145, 145) 0%,rgb(196, 25, 25) 50%,rgb(227, 145, 145) 100%); 
  border: 1px solid #000000;
  color: rgb(0, 0, 0) ;
}
.theme-dark .closeButton-PCZcma:hover {
  background: linear-gradient(to bottom, rgb(104, 0, 0) 0%,rgb(197, 0, 0) 50%,rgb(68, 0, 0) 100%); 
  box-shadow: 0 0 2px 3px #4189c38c;
  transition: 0.3s;
}
.lookFilled-1Gx00P.colorGrey-2DXtkV {
  border-radius: 3px;
  padding: 6px 10px 5px;
  font-weight: 700;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(189, 189, 189) 50%,rgb(219, 219, 219) 100%); 
  border: 1px solid #000000;
  color: rgb(0, 0, 0) ;
}
.disableButton-3BR0Vj  {
  margin-right: 16px;
  border-radius: 3px;
  padding: 6px 10px 5px;
  font-weight: 700;
  background: linear-gradient(to bottom, rgba(227, 145, 145, 0.363) 0%,rgb(151, 1, 1) 50%,rgb(227, 145, 145) 100%); 
  border: 1px solid #000000;
  color: rgb(255, 255, 255) ;
}
.colorable-3rVGna.red-3T8maV {
  background: linear-gradient(to bottom, rgba(227, 145, 145, 0.363) 0%,rgb(151, 1, 1) 50%,rgb(227, 145, 145) 100%); 
  border: 1px solid #000000;
  color: rgb(255, 255, 255) ;
}
.colorable-3rVGna.primaryDark-2UJt1G {
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(189, 189, 189) 50%,rgb(219, 219, 219) 100%); 
  color: black !important;
}
.item-2idW98[aria-checked=true] {
    border-radius: 3px;
    padding: 3px 5px 2px;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(189, 189, 189) 50%,rgb(219, 219, 219) 100%) ;
    color: rgb(0, 0, 0) ;
    border-radius: 3px;
    border: .2px solid #000000;
}
.text-md-medium-2avxhQ {
  font-weight: 700;
}
.item-2idW98 {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) ;
  color: var(--interactive-normal);
  border-radius: 3px;
  border: .2px solid #000000;
}
.lookOutlined-3sRXeN.colorRed-1TFJan {
  margin-right: 16px;
  border-radius: 3px;
  padding: 6px 10px 5px;
  font-weight: 700;
  background: linear-gradient(to bottom, rgb(227, 145, 145) 0%,rgba(196, 25, 25, 0.705) 50%,rgba(227, 145, 145, 0.397) 100%); 
  border: 1px solid #000000;
  color: rgb(255, 255, 255) ;
}
.horizontal-112GEH>.flex-2S1XBF:first-child {
  background: rgba(0, 0, 0, 0) ;
  border-radius: 3px;
}
.css-1kj8ui-container {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) ;
  border-radius: 3px;
  border: .2px solid #000000;
}
.emptyResultsWrap-1bV_TB  {
    background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) ;
}
.scroller-3iiyhZ {
  padding: 0px 0x 0px;
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ, .theme-dark .lookFilled-yCfaCM.colorGrey-2iAG-B {
  background: linear-gradient(to bottom, rgba(235, 235, 235) 0%,hsl(220, 74%, 49%) 50%,hsl(220, 73%, 68%) 100%); 
  border: 1px solid #00000065;
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover, .theme-dark .lookFilled-yCfaCM.colorGrey-2iAG-B:hover {
  background: linear-gradient(to bottom, rgb(38, 0, 100) 0%,rgb(0, 18, 175) 50%,rgb(0, 36, 156) 100%); 
  box-shadow: 0 0 2px 3px #4189c38c;
  transition: 0.3s;
}
.lookOutlined-3yKVGo.colorRed-rQXKgM {
  background: linear-gradient(to bottom, rgb(222, 233, 213) 0%,rgb(196, 25, 34) 50%,rgb(227, 145, 163) 100%); 
  color: white;
}
.lookOutlined-3yKVGo.colorRed-rQXKgM:hover {
  background: linear-gradient(to bottom, rgb(104, 0, 0) 0%,rgb(197, 0, 0) 50%,rgb(68, 0, 0) 100%); 
  box-shadow: 0 0 2px 3px #4189c38c;
  transition: 0.3s;
}
.accountList-Wii_T5,.connection-YOVI9j, .connectionHeader-Ixbb1s, .theme-dark .feature-2IUcBI, .guildSubscriptionSlots-1i_C21, .card-2xlCYc, .billingInformation-2bXmfE, .detailsBlock-24pLFz:last-child, .noItemsCard-5EOcCl, .promotionCard-mo7ClH, .theme-dark .notDetected-M3Ghh2, .theme-dark .addGamePopout-2SKNIV {
  background: linear-gradient(rgba(29,29,29,255), rgba(1,1,1,255)) ;
}
.selectedBackground-1t6xXq {
  background: linear-gradient(to bottom, rgba(235, 235, 235) 0%,hsl(303, 74%, 49%) 50%,hsl(308, 73%, 68%) 100%); 
  border: 1px solid #00000065;
  border-radius: 3px;
}
.guildHeader-1EPPBS {
  background: linear-gradient(rgba(29,29,29,255), rgba(1,1,1,255)) ;
}
.profileBannerPreview-3mLIdO {
  background: linear-gradient(rgba(29,29,29,255), rgba(1,1,1,255)) ;
}
.side-2ur1Qk:hover .item-3XjbnG:hover {
  background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75)) ;
  box-shadow: 0 0 3px 3px #4189c38c;
  transition: 0.3s;
}

  /*
  //////////////////////
  ///POWERCORD SETTINGS
  //////////////////////
  */
  
  /* Manage tabs */
  .powercord-entities-manage-tabs {
    background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) ;
    border: .2px solid #000000;
  }
  
  /* Powercord account */
  .powercord-account {
    background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) ;
    border: .2px solid #000000;
  }
  
  /* Theme manager beta teaser */
  .developerPortalCtaWrapper-2XNafh {
    background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) ;
    border: .2px solid #000000;
  }
  
  /* Powercord Theme Toggler and Plugins Products */
  .powercord-product {
    background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) ;
    border: .2px solid #000000;
    padding: 9px;
    margin-bottom: 13px;
  }
  .powercord-product-header h4 {
    font-size: 16px;
  }
  .powercord-product .divider-3LgWDL {
    display: none;
  }
  .description, .powercord-product .metadata, .powercord-product-permissions, .powercord-product-footer {
    margin-top: 4px;
    font-size: 13px;
  }
  
  /* Extra stuff for BetterDiscord-Compat */
  .bdc-plugin .metadata > div {
    margin-top: 4px;
    width: 20% !important;
  }
  
  /* Powercord search */
  .powercord-entities-manage-search input {
    background: linear-gradient(rgb(28, 27, 31), rgb(39, 40, 41)) ;
    border: .2px solid #000000;
  }
  
  /* Dotted Menu button */
  .powercord-entities-manage-header svg {
    border-radius: 3px;
    padding: 3px 5px 2px;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(189, 189, 189) 50%,rgb(219, 219, 219) 100%); 
    color: rgb(0, 0, 0) ;
    box-shadow: 2px 2px 2px #00000036 ;
  }
  
  /* Powercord toast */
  .powercord-toast .header {
    background: linear-gradient(rgba(29,29,29,255), rgba(1,1,1,255)) ;
  }
  .powercord-toast .contents {
    background: linear-gradient(rgb(27, 28, 30), rgb(66, 66, 68)) ;
    border: 1px solid #00000065;
  }
  .powercord-toast .contents .inner {
    background: linear-gradient(rgb(28, 27, 31), rgb(39, 40, 41)) ;
    border: .2px solid #000000;
  }
  .powercord-toast .buttons {
    background: linear-gradient(rgba(29,29,29,255), rgba(1,1,1,255)) ;
  }
  
  /*
  //////////////////////
  ///ASTRA SETTINGS
  //////////////////////
  */
  
  /* Themes and Plugins */
  .card-zvpeVp .content-8jnR93 {
    background: linear-gradient(rgb(28, 27, 31), rgb(39, 40, 41)) ;
    border: .2px solid #000000;
  }
  .inner-2pOSmK {
      background: linear-gradient(rgb(27, 28, 30), rgb(66, 66, 68)) ;
      border: 1px solid #00000065;
    }
  .inner-2pOSmK:hover {
      box-shadow: 0 0 2px 3px #4189c38c;
  }
  
  /* Updater */
  .info-1hMolH, .marginBottom20-2t4TRh {
    background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) ;
    border: 1px solid #00000065;
  }
  