/*
//////////////
//SIDEBARS
//////////////
*/

/* Members Sidebar */
.members-3WRCEx, .hiddenMembers-8kpYM0, .membersWrap-3NUR2t {
    background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75)) ;
    }
    .members-3WRCEx>div {
    background: transparent;
    }
    .container-2o3qEW, .membersWrap-3NUR2t {
      background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75)) ;
    }
    .interactiveSelected-29CP8y {
      background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75)) ;
      border: 1px solid #00000065;
    }
    .linkButton-2NshQj:hover, .interactive-iyXY_x:hover {
      background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75)) ;
      border: 1px solid #00000065;
    }
    .button-12Fmur:hover, .peopleListItem-u6dGxF:hover {
      background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75)) ;
      box-shadow: 0 0 3px 3px #4189c38c;
    }

.member-48YF_l, .members-3WRCEx {
    background: none;
}
    /* Channels */
    .container-1NXEtd {
      background: linear-gradient(rgb(17, 18, 22), rgb(77, 77, 87)) ;
    }
    .scroller-WSmht3, .scroller-29cQFV {
      background: linear-gradient(rgb(17, 18, 22), rgb(77, 77, 87)) ;
    }
    .total-1c5KCN {
      font-weight: 700;
      background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(189, 189, 189) 50%,rgb(219, 219, 219) 100%); 
      color: rgb(0, 0, 0) ;
    }
    .modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
      background: linear-gradient(rgb(17, 18, 22), rgb(77, 77, 87)) ;
      border: 1px solid #00000065;
    }
    .content-1gYQeQ:hover {
      box-shadow: 0 0 2px 2px #4189c38c;
      right: 2px;
      background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) ;
      transition: 0.3s;
    }
    .users-2JoyGL {
      font-weight: 700;
      background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(189, 189, 189) 50%,rgb(219, 219, 219) 100%); 
      color: rgb(0, 0, 0) ;
      box-shadow: 2px 2px 2px #00000036 ;
    }
    
    /* Unread Bartender */
    .unreadMentionsIndicatorBottom-BXS58x .unreadMentionsBar-1VrBNe:before {
      bottom: -8px;
    }
    .unread-36eUEm {
      width: 4px;
      border-radius: 0px 0px 0px 0px;
      left: 1.2px;
      border: 1px solid #000000;
      background-color: rgb(172, 169, 169);
    }
    
    /* Threads */
    .form-Ti9oXE {
      background: linear-gradient(rgb(15, 16, 19), rgb(49, 49, 54)) ;
    }
    
    /*
    ////////////////////////////
    ///CHANNELS INFO/SEARCH
    ///////////////////////////
    */
    
    /* Channel Desc. */
    .container-ZMc96U.themed-Hp1KC_, .clickable-vvKY2q .header-3OsQeK  {
      background: linear-gradient(rgb(79, 82, 91), rgb(51, 54, 61)) ;
    }
    .gatedContent-31-gID {
      background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) ;
    }
    
    /* Search */
    .searchBar-2aylmZ, .input-2z42oC {
      background: linear-gradient(rgb(0, 0, 0), rgb(16, 16, 17)) ;
      border: 1px solid #00000065;
    }
    .searchBar-2aylmZ:hover {
      box-shadow: 0 0 2px 3px #4189c38c;
      transition: 0.3s;
    }
    .searchBar-jGtisZ {
      background: linear-gradient(rgb(27, 28, 30), rgb(66, 66, 68)) ;
      border-radius: 4px;
      border: 1px solid #000000;
    }
    .searchBar-jGtisZ:hover {
      box-shadow: 0 0 2px 3px #4189c38c;
      transition: 0.3s;
    }
    .searchBar-3TnChZ  {
      background: linear-gradient(rgb(79, 82, 91), rgb(51, 54, 61)) ;
    }
    .searchBar-3TnChZb:hover {
      box-shadow: 0 0 2px 3px #4189c38c;
    }
    .searchBarComponent-3N7dCG {
      background: linear-gradient(rgb(34, 37, 42), rgb(55, 56, 61)) ;
      border-radius: 1px;
      border: 1px solid #000000;
    }
    .searchBarComponent-3N7dCG:hover {
      box-shadow: 0 0 2px 3px #4189c38c;
    }
    .scroller-3iiyhZ {
      background: linear-gradient(rgb(34, 37, 42), rgb(7, 7, 7)) ;
      border-radius: 1px;
      border: 1px solid #000000;
    }
    .searchHeader-1r_ZSh {
      background: linear-gradient(rgb(51, 54, 61), rgb(79, 82, 91)) ;
    }
    .message-24k8JL {
      background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) ;
      border: 1px solid #00000065;
      border-radius: 3px;
      margin-top: -6px;
    }
    .channelName-3w2Y3c {
      background: none;
    }
    
