/*
//////////////
//SIDEBARS
//////////////
*/

/* Members Sidebar */
.members__573eb, .hiddenMembers__0524b, .membersWrap__5ca6b {
    background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75)) ;
    }
    .member_b44d5d, .members__573eb {
     background-color: transparent;
    }
    .members__573eb>div {
    background: transparent;
    }
    .container_f79ab4, .membersWrap__5ca6b {
      background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75)) ;
    }
    .interactiveSelected__689f0 {
      background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75)) ;
      border: 1px solid #00000065;
    }
    .linkButton__9da2c:hover, .interactive__3e804:hover {
      background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75)) ;
      border: 1px solid #00000065;
    }
    .button_ae40a4:hover, .peopleListItem_dab480:hover {
      background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75)) ;
      box-shadow: 0 0 3px 3px #4189c38c;
    }

.member_b44d5d, .members__573eb {
    background: none;
}
.theme-dark .container_debb33 {
  background: linear-gradient(rgb(90, 90, 90), rgb(24, 24, 24));
}
    /* Channels */
    .container__7e23c {
      background: linear-gradient(rgb(17, 18, 22), rgb(77, 77, 87)) ;
    }
    .scroller__89969, .scroller__244e5 {
      background: linear-gradient(rgb(17, 18, 22), rgb(77, 77, 87)) ;
    }
    .total_c01838 {
      font-weight: 700;
      background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(189, 189, 189) 50%,rgb(219, 219, 219) 100%); 
      color: rgb(0, 0, 0) ;
    }
    .modeSelected__473f1 .link_ddbb36, .modeSelected__473f1:hover .link_ddbb36 {
      background: linear-gradient(rgb(17, 18, 22), rgb(77, 77, 87)) ;
      border: 1px solid #00000065;
    }
    .wrapper__612a5:hover {
      box-shadow: 0 0 2px 2px #4189c38c;
      right: 2px;
      background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) ;
      transition: 0.3s;
    }
    .users__65981 {
      font-weight: 700;
      background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(189, 189, 189) 50%,rgb(219, 219, 219) 100%); 
      color: rgb(0, 0, 0) ;
      box-shadow: 2px 2px 2px #00000036 ;
    }
    
    /* Unread Bartender */
    .unreadMentionsIndicatorBottom-BXS58x .unreadMentionsBar-1VrBNe:before {
      bottom: -8px;
    }
    .unread__48cf4 {
      width: 4px;
      border-radius: 0px 0px 0px 0px;
      left: 1.2px;
      border: 1px solid #000000;
      background-color: rgb(172, 169, 169);
    }
    
    /* Threads */
    .form__1b569 {
      background: linear-gradient(rgb(15, 16, 19), rgb(49, 49, 54)) ;
    }
    
    /*
    ////////////////////////////
    ///CHANNELS INFO/SEARCH
    ///////////////////////////
    */
    
    /* Channel Desc. */
    .container__26baa.themed_b152d4, .clickable__1383f .header__77c95  {
      background: linear-gradient(rgb(79, 82, 91), rgb(51, 54, 61)) ;
    }
    .gatedContent__18838 {
      background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) ;
    }
    
    /* Search */
    .searchBar__310d8, .input__2c88a {
      background: linear-gradient(rgb(0, 0, 0), rgb(16, 16, 17)) ;
      border: 1px solid #00000065;
    }
    .searchBar__310d8:hover {
      box-shadow: 0 0 2px 3px #4189c38c;
      transition: 0.3s;
    }
    .searchBar__5a20a {
      background: linear-gradient(rgb(27, 28, 30), rgb(66, 66, 68)) ;
      border-radius: 4px;
      border: 1px solid #000000;
    }
    .searchBar__5a20a:hover {
      box-shadow: 0 0 2px 3px #4189c38c;
      transition: 0.3s;
    }
    .searchBar__621ec  {
      background: linear-gradient(rgb(79, 82, 91), rgb(51, 54, 61)) ;
    }
    .searchBar__621ecb:hover {
      box-shadow: 0 0 2px 3px #4189c38c;
    }
    .searchBarComponent__8f95f {
      background: linear-gradient(rgb(34, 37, 42), rgb(55, 56, 61)) ;
      border-radius: 1px;
      border: 1px solid #000000;
    }
    .searchBarComponent__8f95f:hover {
      box-shadow: 0 0 2px 3px #4189c38c;
    }
    .scroller__5f036 {
      background: linear-gradient(rgb(34, 37, 42), rgb(7, 7, 7)) ;
      border-radius: 1px;
      border: 1px solid #000000;
    }
    .searchHeader__4d70e {
      background: linear-gradient(rgb(51, 54, 61), rgb(79, 82, 91)) ;
    }
    .message__7e601 {
      background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) ;
      border: 1px solid #00000065;
      border-radius: 3px;
      margin-top: -6px;
    }
    .channelName-3w2Y3c {
      background: none;
    }
    
