/*
///////////////
///TOP BAR
///////////////
*/

/* Wndows Title Bar */
.winButton__88672 .withFrame__485f4 {
  height: 18px;
  margin-top: 0px;
  margin-bottom: 2px;
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41));
}
.winButton__88672 .titleBar__01af6 {
  margin-top: 1px;
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41));
}
.winButton__88672 {
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41));
  color: rgb(255, 255, 255);
  margin-bottom: -1px;
  border: 0.5px solid #00000065;
}

/* macOS Title Bar */
.typeMacOS__496b0 {
  position: relative;
  width: 100%;
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41));
  border-bottom: 1px solid rgba(0, 0, 0, 0.596);
  height: 35px;
}
.platform-osx .scroller__3d071 {
  padding-top: 16px;
}
.platform-osx .layer_e552e0.baseLayer__13b6b {
  background-color: rgb(32, 34, 37);
}
.platform-osx .wrapper_a7e7a8 {
  margin: 0;
  padding: 0;
}
