/*
///////////////
///TOP BAR
///////////////
*/

/* Wndows Title Bar */
.winButton_f17fb6 .withFrame__5e49e {
  height: 18px;
  margin-top: 0px;
  margin-bottom: 2px;
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41));
}
.winButton_f17fb6 .titleBar__710b0 {
  margin-top: 1px;
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41));
}
.winButton_f17fb6 {
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41));
  color: rgb(255, 255, 255);
  margin-bottom: -1px;
  border: 0.5px solid #00000065;
}

/* macOS Title Bar */
.typeMacOS_cacc59 {
  position: relative;
  width: 100%;
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41));
  border-bottom: 1px solid rgba(0, 0, 0, 0.596);
  height: 35px;
}
.platform-osx .scroller_de945b {
  padding-top: 16px;
}
.platform-osx .layer_f7d46a .baseLayer__2b890 {
  background-color: rgb(32, 34, 37);
}
.platform-osx .wrapper__216eb {
  margin: 0;
  padding: 0;
}
